.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em ;
    margin-left: 7em;
}

.home_container h1 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.home_container h1 span {
    color: #ffbb33;
    background-color: black;
    padding: 0.2em;
}

.home_container p {
    color: gray;
    padding: 1em 1em;
}

.home_container a:active {
    scale: 0.95;
}

.home_container img {
   width: 750px;
}