.footer {
    background-color: black;
    color: #FFF;
    padding: 2em;
    text-align: center;
}

.footer p {
    margin-top: 1.5em;
}

.footer p span {
    font-weight: bold;
    color: #ffbb33;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0 0.5em;
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list li svg {
   cursor: pointer;
   font-size: 1.5em;
}
